<div class="gray-section">
    <div class="spacing-padd-y">
        <div class="container">
            <div class="text-center">
                <h4 class="text-color mb-4 fontOpenSansSemiBold">
                    {{alternate.maintitle1}}
                </h4>
            </div>
            <div class="row mt-5">
                <div class="col-sm">
                    <h6 class="mb-3 fontOpenSansSemiBold">{{alternate.subtitle1}}</h6>
                    <p class="fontNunitoLight" ng-bind-html="alternate.subcontent1"></p>
                </div>
                <div class="col-sm">
                    <img src="{{alternate.image1}}" width="80%" class="img-fluid float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacing-padd-y">
    <div class="container">
        <div class="text-center">
            <h4 class="text-color mb-4 fontOpenSansSemiBold">
                {{alternate.maintitle2}}
            </h4>
        </div>
        <div class="row mt-5">
            <div class="col-sm">
                <img src="{{alternate.image2}}" width="80%" class="img-fluid float-left">
            </div>
            <div class="col-sm">
                <h6 class="mb-3 fontOpenSansSemiBold">{{alternate.subtitle2}}</h6>
                <p class="fontNunitoLight" ng-bind-html="alternate.subcontent2"></p>
            </div>
        </div>
    </div>
</div>