<div class="gray-section section1">
    <div class="spacing-padd-y">
        <div class="container">
            <!-- <div class="text-center">
                <h4 class="text-color mb-4 fontOpenSansSemiBold">
                    {{alternate.maintitle1}}
                </h4>
            </div> -->
            <div class="row mt-5">
                <div class="col-sm align-sm-content align-items-center d-flex">
                    <!-- <h6 class="mb-3 fontOpenSansSemiBold">{{alternate.subtitle1}}</h6> -->
                    <div class="row background-pink fontOpenSansSemiBold  color-white p-4 product-heading">
                        <div class="col-sm-12 align-items-center">
                            <h5 ng-bind-html="alternate.subcontent1"></h5>
                        </div>
                        <div class="col-sm-12">
                            <a class='btn mt-1 small-button background-blue' role='button' ng-click='modalOpen()'>Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <img src="{{alternate.image1}}" width="80%" class="img-fluid float-right">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacing-padd-y section2">
    <div class="container">
        <!-- <div class="text-center">
            <h4 class="text-color mb-4 fontOpenSansSemiBold">
                {{alternate.maintitle2}}
            </h4>
        </div> -->
        <div class="row mt-5">
            <div class="col-sm">
                <img src="{{alternate.image2}}" width="80%" class="img-fluid float-left">
            </div>
            <div class="col-sm align-sm-content align-items-center d-flex">
                <!-- <h6 class="mb-3 fontOpenSansSemiBold">{{alternate.subtitle2}}</h6> -->
                <div class="row fontOpenSansSemiBold background-blue color-white p-4 product-heading">
                    <div class=" col-sm-12 align-items-center">
                        <h5 ng-bind-html="alternate.subcontent2 "></h5>
                    </div>
                    <div class="col-sm-12 ">
                        <a class='btn mt-1 small-button background-pink' role='button' ng-click='modalOpen()'>Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>