<section class="">
    <div class="gray-section">
        <div class="text-center">
            <h2 class="color-blue mb-4">
                Choose From Multiple Courier Partners &amp; Services
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <h4>Run Product Ads On Top Social Media Platforms</h4>
                <p>Run Product Ads across Facebook and Instagram with Social Media Advertising.</p>
                <p>Attract the right audience on your website with great Ad relevancy and Accurate Targeting.</p>
                <p>Get Real-time Report of your every campaign's ROI with Ad Analytics.</p>
            </div>
            <div class="col">
                <img src="../img/couriers/mac.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div>
        <div class="text-center">
            <h2 class="color-blue mb-4">
                    Get The Best Rates &amp; Reduced Remittance Cycle                    
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <img src="../img/couriers/mac.png" class="img-fluid">
            </div>
            <div class="col">
                <h4>Manage Brand Presence Across Multiple Social Media Channels</h4>
                <p>Develop a powerful suite of Followers with our effective brand positioning strategy</p>
                <p>Engross your visitors with powerful social media content &amp; high-quality visuals</p>
                <p>Analyze performance metrics to analyze your social media performance</p>
            </div>
        </div>
    </div>
</section>