<div class="row">
    <div class="col p-2" ng-repeat="price in pricing">
        <div class="card">
            <div class="card-block background-blue color-white border p-2">
                <h5 class="fontOpensSansBold text-uppercase border-bottom">{{price.name}}</h5>
                <h3 class="fontOpensSansBold text-uppercase">{{price.price}}</h3>
                <h5 class="fontOpensSansRegular">PER{{price.period}}</h5>
                <p class="fontOpensSansRegular text-capitalize">{{price.minper}}</p>
                <h5 class="fontOpensSansRegular">OR</h5>
                <p class="fontOpensSansBold text-capitalize">{{price.otp}}</p>
            </div>
            <div class="card-block my-3">
                <p class="my-1" ng-repeat="service in price.services">{{service}}</p>
            </div>
        </div>
    </div>
</div>