/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
    body{
        padding-top: 70px;
    }
    .bg-img {
        height: 30vh !important;
    }
    .align-sm-content {
        text-align: center;
    }
    .section1,
    .section2 {
        img {
            width: 100% !important;
        }
    }
    .jigsaw2:after {
        left: -1em;
    }
    .jigsaw5:after {
        left: -1em;
    }
    .price-footer{
        text-align: center;
    }
    //scss for website page banner
    .banner-title{
        h2{

            font-size: 1rem !important;
        }
    }
}