/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
    .bg-img {
        height: 100vh;
    }
    .align-sm-content {
        text-align: center;
    }
    .banner-image {
        width: 70%;
        right: 12% !important;
    }
    .section1,
    .section2 {
        img {
            width: 100% !important;
        }
    }
    .jigsaw2:after{
left: -1em;
    }
    .jigsaw5:after{
        left: -1em;
            }
}