<div class="price-main">
    <div class="price-banner">
        <div class="text-center">
            <h2 class="fontOpenSansBold">Plans & Pricing</h2>
            <p class="fontOpenSansRegular">A Suitable Pricing Plan For Every Business</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <table class="table table-bordered mt-5">
                    <colgroup width="100%">
                        <col width="33.33">
                        <col width="33.33" class="text-center">
                        <col width="33.33" class="text-center">
                    </colgroup>
                    <thead class="text-center">
                        <tr>
                            <th style="background: #d20d81;" class="align-middle">ShopMyWay Solutions Offerings</th>
                            <th style="background: #00bfe9;" class="align-middle">Standard Plan
                                <hr>@25000
                                <br> Per Month</th>
                            <th style="background: #00bfe9;" class="align-middle">Premium Plan
                                <hr>@50000
                                <br> Per Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ecommerce Website</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">

                            </td>
                        </tr>
                        <tr>
                            <td>Mobile Apps</td>
                            <td>Android</td>
                            <td>Android + iOS</td>
                        </tr>
                        <!-- <tr>
                                    <td>Couriers Software</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                </tr> -->
                        <tr>
                            <td>Courier Rates</td>
                            <td>Standard</td>
                            <td>10% Discount</td>
                        </tr>
                        <tr>
                            <td>Personal Account & Marketing Manager</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Online Advertisement Package</td>
                            <td>5000</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <td>Marketplace Solutions</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Email & SMS Marketing</td>
                            <td>1000/2000 free</td>
                            <td>2000/4000 free</td>
                        </tr>
                        <tr>
                            <td>Design Banners & Promos</td>
                            <td>3</td>
                            <td>5</td>
                        </tr>
                        <!-- <tr>
                                    <td>Marketplace Advertisement</td>
                                    <td>No</td>
                                    <td>No</td>
                                </tr> -->
                        <tr>
                            <td>Social Media Marketing & Management</td>
                            <td>
                                <img src="img/home/icon/smw-02.svg" width="20" class="doneLoading">
                            </td>
                            <td>FB free +two channel</td>
                        </tr>
                        <tr>
                            <td>Payment gateway</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Ecommerce Expert Consultancy</td>
                            <td>1 hour monthly</td>
                            <td>3 hours monthly</td>
                        </tr>
                        <tr>
                            <td>Storage/ No. of products can be displayed</td>
                            <td>20000</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>No. of free themes</td>
                            <td>2</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Cash on Delivery*</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>International Shipping </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile Responsive Site</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Admin Dashboard</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Advanced Dashboard</td>
                            <td>
                                <img src="img/home/icon/smw-02.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>30 days Free on-boarding assistance</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Secure Socket Layer</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" class="doneLoading">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="text-center p-3 py-5 background-pink color-white fontOpenSansRegular">
                    <h3 class="fontOpenSansSemiBold">Enterprise Plan</h3>
                    <h5 class="py-3">Customized Plan for Enterprise Clients.
                        <br>For Further Details Contact Us</h5>
                    <a class="btn medium-button background-blue my-3 px-2">Call Now</a>
                </div>
            </div>
        </div>

        <div>
            <p class="text-center mb-3">
                <small>*GST of 18% is levied on the prices mentioned above, as per government regulations.
                </small>
                <br>
                <small>*Carrier charges are applicable on Cash on Delivery.
                </small>
            </p>
        </div>



    </div>
    <div class="price-footer">
        <div class="container">
            <h4 class="text-center NunitoBold py-4">Value Added Services</h4>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Email SMS Packs</li>
                        <li>Social Media Marketing</li>
                        <li>Impressions</li>
                        <li>Email SMS Notification</li>
                        <li>Order And Inventory Management</li>
                        <li>Content Creation </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Search Engine Optimization & Search Engine Marketing</li>
                        <li>Visitors Targeted</li>
                        <li>Clicks / Months</li>
                        <li>Product Photoshop </li>
                        <li>Business Formation Assistance</li>
                        <li>Advance Analytics</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Marketplace Advertising</li>
                        <li>Personal Account Manager</li>
                        <li>Channel Integrations</li>
                        <li>International Shiping</li>
                        <li>Listing & Registration Assistance</li>
                        <li>Advertise Products On Marketplaces.</li>


                    </ul>
                </div>
            </div>

        </div>

        <div class="container text-center price-foot">
            <h4 class="pb-2">For More Information About Any Offerings Please Contact</h4>
            <button type="button" class="btn btn-primary mb-5" ng-click="modalOpen()">Price on Request</button>
        </div>
    </div>
</div>