<div class="price-main">
    <div class="price-banner">
        <div class="text-center">
            <h2 class="fontOpenSansBold">Plans & Pricing</h2>
            <p class="fontOpenSansRegular">A Suitable Pricing Plan For Every Need</p>
        </div>

    </div>
    <div class="container">
        <table class="table table-bordered mt-5">
            <colgroup width="100%">
                <col width="33.33">
                <col width="33.33" class="text-center">
                <col width="33.33" class="text-center">
            </colgroup>
            <thead class="text-center">
                <tr>
                    <th style="background: #d20d81;" class="align-middle">Services Offerings</th>
                    <th style="background: #00bfe9;" class="align-middle">Standard Plan
                        <hr>@25000
                        <br> Per user</th>
                    <th style="background: #00bfe9;" class="align-middle">Premium Plan
                        <hr>@50000
                        <br> Per user</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ecommerce Website</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Mobile Apps</td>
                    <td>Android</td>
                    <td>Android + iOS</td>
                </tr>
                <tr>
                    <td>Couriers Software</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Courier Rates</td>
                    <td>Standard</td>
                    <td>10% Discount</td>
                </tr>
                <tr>
                    <td>Personal Account & Marketing Manager</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Online Advertisement Package</td>
                    <td>Plans starting from 10k per Month</td>
                    <td>Plans starting from 10k per Month</td>
                </tr>
                <tr>
                    <td>Marketplace Software</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Email & SMS Marketing</td>
                    <td>1000/2000 free</td>
                    <td>2000/4000 free</td>
                </tr>
                <tr>
                    <td>Design Services (3 Banner & Promos)</td>
                    <td>Yes</td>
                    <td>5 free</td>
                </tr>
                <tr>
                    <td>Marketplace Advertisement</td>
                    <td>No</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>Social Media Marketing & Management</td>
                    <td>No</td>
                    <td>FB free +two channel</td>
                </tr>
                <tr>
                    <td>Payment gateway</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Shopping logistics </td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Storage/ No. of products can be displayed</td>
                    <td>25000</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td>No. of free themes</td>
                    <td>5</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Cash on Delivery</td>
                    <td>As per client</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>International Shipping </td>
                    <td>As per client</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Mobile Responsive Site</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Standard Dashboard</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Advanced Dashboard</td>
                    <td>No</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>30 days Free on-boarding assistance</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>SSL</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="price-footer">
        <div class="container">
            <h4 class="text-center NunitoBold py-4">Value Added Services</h4>
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Email SMS Packs</li>
                        <li>Social Media Marketing</li>
                        <li>Impressions</li>
                        <li>Visitors Targeted</li>
                        <li>Clicks / Months</li>
                        <li>Email SMS Notification</li>
                        <li>Order And Inventory Management</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Search Engine Optimization & Search Engine Marketing</li>
                        <li>Online </li>
                        <li> Impressions</li>
                        <li>Visitors Targeted</li>
                        <li>Clicks / Months</li>
                        <li>Email SMS Notification</li>
                        <li>Order And Inventory Management</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                        <li>Marketplace Advertising</li>
                        <li>Personal Account Manager</li>
                        <li>Channel Integrations</li>
                        <li>International Shiping</li>
                        <li>Listing & Registration Assistance</li>
                        <li>Advertise Products On Marketplaces.</li>
                        <li>Advance Analytics</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container text-center price-foot">
            <h4 class="pb-2">For More Information About Any Offerings Please Contact</h4>
            <button type="button" class="btn btn-primary mb-5" ng-click="modalOpen()">Price on Request</button>
        </div>
    </div>
</div>