<div class="price-main">
    <div class="price-banner">
        <div class="text-center">
            <h2 class="fontOpenSansBold">Plans & Pricing</h2>
            <p class="fontOpenSansRegular">A Suitable Pricing Plan For Every Business</p>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <table class="table table-bordered mt-5 price-table">
                    <colgroup width="100%">
                        <col width="33.33">
                        <col width="33.33" class="text-center">
                        <col width="33.33" class="text-center">
                    </colgroup>
                    <thead class="text-center">
                        <tr>
                            <th style="background: #d20d81;" class="align-middle">ShopMyWay Solutions Offerings</th>
                            <th style="background: #00bfe9;" class="align-middle">Standard Plan
                                <hr>@24999
                                <br> Per Month</th>
                            <th style="background: #00bfe9;" class="align-middle">Premium Plan
                                <hr>@49999
                                <br> Per Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ecommerce Website With Secure Socket Layer Ready</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">

                            </td>
                        </tr>
                        <tr>
                            <td>Design Banners &amp; Promos</td>
                            <td>3</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td> No. of Products can be displayed</td>
                            <td>20000</td>
                            <td>Unlimited</td>
                        </tr>
                        <tr>
                            <td>No. of free themes</td>
                            <td>2</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Mobile Responsive Site</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile App For Android</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Mobile App For IOS</td>
                            <td>
                                <img src="img/home/icon/smw-02.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Marketplace Solutions</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Personal Account Manager</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>30 Days Free On-boarding Assistance</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Ecommerce Expert Consultancy</td>
                            <td>1 hour monthly</td>
                            <td>3 hours monthly</td>
                        </tr>
                        <tr>
                            <td>Online Advertisement Package</td>
                            <td>5000</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <td>Email &amp; SMS Marketing</td>
                            <td>1000/2000 free</td>
                            <td>2000/4000 free</td>
                        </tr>
                        <tr>
                            <td>Social Media Marketing & Management</td>
                            <td>
                                <img src="img/home/icon/smw-02.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>Facebook +two channel</td>
                        </tr>
                        <tr>
                            <td>Courier Rates</td>
                            <td>Standard</td>
                            <td>10% Discount</td>
                        </tr>
                        <tr>
                            <td>Payment Gateway</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Cash on Delivery*</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>International Shipping </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Admin Dashboard</td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>
                        <tr>
                            <td>Advanced Dashboard</td>
                            <td>
                                <img src="img/home/icon/smw-02.svg" width="20" height="20" class="doneLoading">
                            </td>
                            <td>
                                <img src="img/home/icon/smw-01.svg" width="20" height="20" class="doneLoading">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-lg-3 mt-5">
                <div class="text-center fontOpenSansRegular">
                    <div class="background-blue p-2">
                        <h5 class="fontOpenSansSemiBold m-0 color-white">Customize Plan</h5>
                    </div>
                    <div class="py-3 border-enterprise">
                        <div class="py-3">
                            <p>Customize Plan
                                <br>for Business Clients.</p>
                            <p> For Further Details
                                <br> Contact Us</p>
                        </div>

                    </div>

                    <div class="w-100 py-1 background-pink ">
                        <a class="fontOpenSansSemiBold color-white" role="button" ng-click="modalOpen()">Know More</a>
                    </div>

                </div>
            </div>
        </div>

        <div>
            <p class="text-center mb-3">
                <small>*GST of 18% is levied on the prices mentioned above, as per government regulations.
                </small>
                <br>
                <small>*Carrier charges are applicable on Cash on Delivery.
                </small>
            </p>
        </div>



    </div>
    <div class="price-footer">
        <div class="container">
            <h4 class="text-center NunitoBold py-4">Value Added Services</h4>
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Email SMS Packs</li>
                        <li>Social Media Marketing</li>
                        <li>Impressions</li>
                        <li>Email SMS Notification</li>
                        <li>Order And Inventory Management</li>
                        <li>Content Creation </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Search Engine Optimization</li>
                        <li>Search Engine Marketing</li>
                        <li>Visitors Targeted</li>
                        <li>Clicks / Months</li>
                        <li>Product Photoshop </li>
                        <li>Business Formation Assistance</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li>Advance Analytics</li>
                        <li>Marketplace Advertising</li>
                        <li>Personal Account Manager</li>
                        <li>Channel Integrations</li>
                        <li>International Shiping</li>
                        <li>Listing & Registration Assistance</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="container text-center fontOpenSansRegular">
            <h4 class="pb-2">For More Information About Any Offerings Please Contact</h4>
            <button type="button" class="btn btn-primary mb-5" ng-click="modalOpen()">Price on Request</button>
        </div>
    </div>
</div>