<div class="modal-body p-0">
        <div class="modal_bg">
                <section class="px-5">
                        <div class="home-form py-3">
                                <div class="text-center">
                                        <h4 class="home-title">Decided to grow your business!
                                                <br>Let our ecommerce experts call you to get started</h4>
                                        <!-- <p>If you have any Enquiry kindly take a moment to fill up the form, Our representative
                                                will contact you shortly
                                        </p> -->
                                </div>
                                <div class="order-form">
                                        <form ng-submit="enquirySubmit(formdata)" name="enquiry">
                                                <div class="row my-3">
                                                        <div class="col-12 col-md-6">
                                                                <label for="name">Your Name</label>
                                                                <input type="text" id="name" class="form-control" placeholder="Name" ng-model="formdata.name" required>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                                <label for="email">Email Address</label>
                                                                <input type="email" id="email" class="form-control" placeholder="Email" ng-model="formdata.email" required>
                                                        </div>
                                                </div>
                                                <div class="row my-3">
                                                        <div class="col-12 col-md-6">
                                                                <label for="phone">Phone Number</label>
                                                                <input type="number" id="phone" class="form-control" placeholder="Phone Number" ng-model="formdata.phnNo" required>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                                <label for="city">City</label>
                                                                <input type="text" id="city" class="form-control" placeholder="City" ng-model="formdata.city" required>
                                                        </div>
                                                </div>
                                                <div class="row my-3">
                                                        <div class="col-12 col-md-6">
                                                                <label for="company">Business Name</label>
                                                                <input type="text" id="company" class="form-control" placeholder="Business Name" ng-model="formdata.company" required>
                                                        </div>

                                                </div>
                                                <div class="row my-3">
                                                        <div class="col-12">
                                                                <label for="enquire">Comment</label>
                                                                <textarea class="form-control" rows="7" id="enquire" placeholder="Comment" ng-model="formdata.enquiry" required></textarea>
                                                        </div>
                                                </div>
                                                <div class="text-center my-2">
                                                        <input type="submit" class="btn banner-button m-2" role="button">
                                                        <button type="button" class="btn banner-button m-2" role="button" ng-click="closeModal()">Cancel</button>
                                                </div>
                                        </form>
                                </div>
                        </div>
                </section>
        </div>
</div>