/* Bootstrap Variables Goes Here */

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #ff6377 !default;
// $orange: #f0ad4e !default;
$yellow: #f7c72e !default;
$green: #00dbaa !default;
$blue: #00bfe8 !default;
// $teal: #5bc0de !default;
$pink: #cc0099 !default;
// $purple: #613d7c !default;
$gray-font:#333333 !default;
// Create grayscale
// $gray-dark: #292b2c !default;
$gray: #ebebeb !default;
// $gray-light: #636c72 !default;
$gray-lighter: #f8f8f8 !default;
// $gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-yellow: $yellow !default;
$brand-pink: $pink !default;
$brand-font:$gray-font !default;
// $brand-info: $teal !default;
// $brand-warning: $orange !default;
// $brand-inverse: $gray-dark !default;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
// Style anchor elements.
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$paragraph: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$span: .75rem !default; //12px
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 3.8125rem !default; //61px
$font-size-h3 : 2.75rem !default; //44px
$font-size-h4: 2rem !default; //32px 
$font-size-h5 : 1.375rem !default; //22px
$font-size-h6: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;
$line-height-para: 1.4rem !default;
$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-padding-x: 1rem !default;
$btn-padding-y: .5rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;
// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-line-height: 1.25 !default;
$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-margin-top: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import "other/font-fix";
@font-face {
    font-family: NunitoLight;
    src: url(../fonts/Nunito/Nunito-Light.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: NunitoSemiBold;
    src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: NunitoBold;
    src: url(../fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
    font-family: NunitoSans;
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}
@font-face {
    font-family: OpenSansLight;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSansSemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

// h2,
// h3,
// h4,
// h5,
// span {
//     font-family: OpenSansRegular;
// }

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

p {
    font-family: NunitoSans;
    font-size: $paragraph;
    line-height: $line-height-para;
    margin-bottom: 0;
}

.color-default {
    color: $gray-font;
}

.color-white {
    color: white;
}

.color-red {
    color: $brand-danger;
}

.color-blue {
    color: $brand-primary;
}

.color-green {
    color: $brand-success;
}

.color-yellow {
    color: $brand-yellow;
}

.background-red {
    background-color: $brand-danger;
}

.background-blue {
    background-color: $brand-primary;
}

.background-green {
    background-color: $brand-success;
}

.background-yellow {
    background-color: $brand-yellow;
}

.background-gray {
    background-color: $gray;
}
.fontOpensSansLight {
    font-family: OpenSansLight;
}
.fontOpensSansRegular {
    font-family: OpenSansRegular;
}
.fontOpensSansBold {
    font-family: OpenSansBold !important;
}
.fontNunitoSans{
    font-family: NunitoSans;
}
.section-bottom-margin{
    @include margin(null null 3em null);
}
// .header_padding{
//     @include padding(null 10rem);
// }
// .main-section-padding{
//     @include padding(3rem 10rem);
// }
.gray-section {
    background-color: $gray-lighter;
}
.card-block{
    border: 0;
}
body {
    padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}