<footer>
    <div class="footer-bg">
    <div class="footer-menu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li>About Us </li>
                        <li>Careers</li>
                        <li>The Team</li>
                        <li>Support</li>
                        <li>Get in Touch</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Company</h4>
                    <ul class="list-unstyled">
                        <li>About Us </li>
                        <li>Careers</li>
                        <li>The Team</li>
                        <li>Support</li>
                        <li>Get in Touch</li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Product</h4>
                    <ul class="list-unstyled">
                        <li>Shopmyway Complete Ecommerce Solution
                        </li>
                        <li>Shopmyway Website</li>
                        <li>Shopmyway Marketing</li>
                        <li>Shopmyway Couriers</li>
                        <li>Shopmyway Marketplace </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Socialize With Us</h4>
                    <ul class="list-unstyled">
                        <li>About Us </li>
                        <li>Careers</li>
                        <li>The Team</li>
                        <li>Support</li>
                        <li>Get in Touch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>