<footer>
    <div class="footer-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Need Help ?</a></li>
                        <li><a href="#">The Zepo Blog</a></li>
                        <li><a href="#" class="active">About us</a></li>
                        <li><a href="#">The Team</a></li>
                        <li><a href="#">Join Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right copyright-text">
                        <p>&copy; 2017 <a href="http://www.wohlig.com" target="_blank">Wohlig Transformations Pvt. Ltd.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>