<footer>
    <section class="background-black color-white {{template.homefooterNone}}">
        <div class="container py-5">
            <div class="text-center pb-5">
                <h4 class="fontOpenSansBold">Introducing - Your Online Business Partner</h4>
                <p>We Guarantee You Growth in your Online Sales !</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="align-sm-content">
                        <h4 class="fontOpenSansLight">Powerful Tools</h4>
                        <h4 class="fontOpenSansSemiBold">With Our Complete E-Commerce Solution,</h4>
                        <p>Zepo's Comlete Ecommerce Solution Provides all the tools required to grow your brand</p>
                        <p>Get Expert assistance evry step of the way in your brand's Ecommerce journey.</p>
                        <a class="btn large-button mt-5" role="button">Know more here</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 px-5">
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <div class="d-flex pb-4 background-red color-white m-1 p-2 rounded">
                                <div class="glyph fs1">
                                    <div class="clearfix bshadow0 pbs">
                                        <i class="icon-web" style="font-size:40px;">
                                                                                    </i>
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <img src="img/ecommerce/shopmyway.png" width="80">
                                    <h6 class="fontOpenSansSemiBold">Website</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="d-flex pb-4 background-green color-white m-1 p-2 rounded">
                                <div class="glyph fs1">
                                    <div class="clearfix bshadow0 pbs">
                                        <i class="icon-marketing" style="font-size:40px;">
                                                                                    </i>
                                    </div>
                                </div>
                                <div class="ml-2">
                                    <img src="img/ecommerce/shopmyway.png" width="80">
                                    <h6 class="fontOpenSansSemiBold">Marketing</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12 col-lg-6">
                            <div class="d-flex pb-4 background-blue color-white m-1 p-2 rounded">
                                <div class="glyph fs1">
                                    <div class="clearfix bshadow0 pbs">
                                        <i class="icon-Courier1" style="font-size:40px;">
                                                                                    </i>
                                    </div>
                                </div>
                                <div class=" ml-2">
                                    <img src="img/ecommerce/shopmyway.png" width="80">
                                    <h6 class="fontOpenSansSemiBold">Couriers</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="d-flex pb-4 background-yellow color-white m-1 p-2 rounded">
                                <div class="glyph fs1">
                                    <div class="clearfix bshadow0 pbs">
                                        <i class="icon-Marketplace" style="font-size:40px;">
                                                                                    </i>
                                    </div>
                                </div>
                                <div class=" ml-2">
                                    <img src="img/ecommerce/shopmyway.png" width="80">
                                    <h6 class="fontOpenSansSemiBold">Marketplace</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-bg">
        <div class="footer-menu">
            <div class="container">
                <div class="pt-4 pb-4">
                    <div class="row">
                        <div class="col">
                            <h4>Contact</h4>
                            <ul class="list-unstyled">
                                <li>About Us </li>
                                <li>Careers</li>
                                <li>The Team</li>
                                <li>Support</li>
                                <li>Get in Touch</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4>Company</h4>
                            <ul class="list-unstyled">
                                <li>About Us </li>
                                <li>Careers</li>
                                <li>The Team</li>
                                <li>Support</li>
                                <li>Get in Touch</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4>Product</h4>
                            <ul class="list-unstyled">
                                <li>Shopmyway Complete Ecommerce Solution
                                </li>
                                <li>Shopmyway Website</li>
                                <li>Shopmyway Marketing</li>
                                <li>Shopmyway Couriers</li>
                                <li>Shopmyway Marketplace </li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4>Socialize With Us</h4>
                            <ul class="list-unstyled">
                                <li>About Us </li>
                                <li>Careers</li>
                                <li>The Team</li>
                                <li>Support</li>
                                <li>Get in Touch</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-band">
    </div>
    <div class="container">
        <div class="footer-desc">
            <p class="pb-2 pt-2"><small>Shopmyway is an end-to-end e-commerce solution that helps you start selling online on your ecommerce website.
                You will find all the tools needed to grow your brand online with the Shopmyway platform. Founded in 2011,
                Shopmyway powers more than 2000 online stores across India.</small></p>
            <p class="pb-2"><small>The primary offering is an ecommerce website that is connected to all functional requirements. Shopmyway offers you a free
                payment gateway, integrated eCommerce courier services and advanced tools to market your online store. You
                can sell on Flipkart, Snapdeal, Amazon and all other top eCommerce websites in India through a auto-synced
                dashboard where you can manage all your marketplace orders and reconciliations. In fact, Shopmyway provides
                you with the entire framework required to start and run an eCommerce business successfully.</small></p>
            <p class="pb-2"><small>Sell your : Clothes Online | Jewellery Online | Furniture Online | Electronics Online | Food Products Online</p>
                <p>Sell Online : Create Online & Mobile Store | Sell on Marketplace | Website Features | Website Themes | Website
                    Store Customization | Website Examples | Sell on Facebook | Sell on Android-iOS | Automated Ecommerce Store
                    Advertising</small></p>
            <p class="pb-2"><small>Deliver Anywhere : Shopmyway Couriers | Pincode Coverage List</small></p>
            <p class="pb-2"><small>Resources : Ebook | Registering eCommerce Business in India | Register Trademark | Review of Domestic Courier
                Service | Online Marketplace Reviewed | Review of Major Payment Gateways | Shopmyway vs Kartrocket vs Shopify
                | Shopmyway vs Unicommerce</small></p>
            <p class="pb-2"><small>Shopmyway : About Us | Careers | Website API | Team</small></p>
        </div>
    </div>
</footer>