<header ng-controller="headerCtrl">
    <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top {{template.backgoundChange}}"> -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top {{template.backgoundChange}}">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-controls="nav-collapse"
                aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">
                <img src="img/logo.png" alt="logo" width="150">
            </a>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav justify-content-end" ng-include="template.menu"></ul>
                <div ng-click="modalOpen()">
                    <a class="btn header-button" role="button">Start Now</a>
                </div>
            </div>
            <!-- <div class="hamburger pointer pull-right" ng-click="getnav();">
                <div class="menu-line">
                    <span class="icon-bar box-shadow {{onebar}}"></span>
                    <span class="icon-bar box-shadow {{secondbar}}"></span>
                    <span class="icon-bar box-shadow third-line {{thirdbar}}"></span>
                </div>
            </div> -->
        </div>
    </nav>
    <div class="sidemenu {{getslide}}">
        <div class="navbar-collapse">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
    </div>
</header>