<ul class="nav navbar-nav">
  <li ng-repeat="menu in navigation" ui-sref-active="active">
    <!--main-menu-->
    <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">
      <i class="fa fa-{{menu.icon}}" ng-if="menu.icon"></i> {{menu.name}}
    </a>
    <a href="{{menu.link}}" ng-if="menu.link">
      <i class="fa fa-{{menu.icon}}" ng-if="menu.icon"></i> {{menu.name}}
    </a>
    <!--sub-menu-->
    <ul class="dropdown-menu" ng-if="menu.subnav!='';">
      <li ng-repeat="submenu in menu.subnav" ui-sref-active="active">
        <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">
          <i class="fa fa-{{menu.icon}}" ng-if="menu.icon"></i> {{submenu.name}}
        </a>
        <a herf="{{submenu.link}}" ng-if="submenu.link">
          <i class="fa fa-{{menu.icon}}" ng-if="menu.icon"></i> {{submenu.name}}
        </a>
      </li>
    </ul>
     <!--end sub-menu-->
  </li>
</ul>