<!--sidemenu-->
<div class="sidenav">
    <!--template in menu.html-->
    <span><a href="#" class="active"><i class="fa fa-archive fa-2x" aria-hidden="true"></i>Stock</a></span>
    <span><a href="#"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i>Orders</a></span>
    <span><a href="#"><i class="fa fa-file-text fa-2x" aria-hidden="true"></i>Contents</a></span>
    <span><a href="#"><i class="fa fa-cog fa-2x" aria-hidden="true"></i>Settings</a></span>
    <span><a href="#"><i class="fa fa-snowflake-o fa-2x" aria-hidden="true"></i>Channels</a></span>
</div>