<!--sidemenu-->
<div class="sidemenu">
    <div class="collapse navbar-collapse" id="nav-collapse">
        <!--template in menu.html-->
        <div class="vertical-menu">
                <span><a href="#" class="active"><i class="fa fa-archive" aria-hidden="true"></i>Stock</a></span>
                <span><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Orders</a></span>
                <span><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>Contents</a></span>
                <span><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>Settings</a></span>
                <span><a href="#"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Channels</a></span>
              </div>
    </div>
</div>