<div class="position-relative   about-us-bg">
    <div class="position-absolute w-100 h-100 bg-overlay"></div>
</div>
<section>
    <div class="about-bg py-4">
        <div class="container">
            <div class="about-white-bg px-5 py-5  mx-5">
                <div class="about-heading text-left NunitoBold pb-2">
                    <h2>
                        <span class="shop">WHO WE</span>
                        <span class="myway">ARE ?</span>
                    </h2>
                </div>
                <div class="about-content color-grey text-justify">
                    <p class="pb-3">We are a company of talented and creative people who have experience in business and e-commerce. Our
                        solutions combine our expertise in these areas to digitally grow your business online. We have been
                        successfully working in this area for the last many assisting our customers to grow their business.</p>

                    <p class="pb-3">As an Organization we strive to align ourselves to the business objectives of our customers and enable
                        them in achieving growth and brand recognition.</p>
                    <p class="pb-3">We excel in gathering data/intelligence, content creation, and latest technologies for Ecommerce which
                        empower forward looking businesses. </p>
                </div>
                <div class="about-heading text-left NunitoBold py-3">
                    <h2>
                        <span class="shop">DO YOU WANT</span>
                        <span class="myway"> TO WORK WITH US?</span>
                    </h2>
                </div>
                <div>
                    <h6 class="NunitoSansRegular">Are you a college graduate or an undergraduate looking to begin your career?</h6>
                    <h6 class="NunitoSansRegular">Are you an experienced professional and interested in working in a dynamic and challenging environment?
                    </h6>
                    <p class="color-grey text-justify pb-3">
                        ShopMyWay offers its people freedom at work & the opportunity to develop along with the organization. The work environment
                        is filled with challenging and motivating projects and assignments to provide an evolving ecosystem
                        in which individuals are able to realize their professional and personal aspirations. At each level
                        in your career we offer you learning and leadership opportunities which would allow you to contribute
                        towards our business growth.
                    </p>
                    <div class="color-grey text-justify pb-3">
                        <p> We are hiring:</p>
                        <p> Java Developer </p>
                        <p>AWS Developer /Admin</p>
                        <p>User Experience Designer</p>
                        <p>Tester: Manual & Automation </p>
                        <p>Business Analyst</p>
                        <p>Big Data HADOOP Developer/ Admin </p>
                        <p>Technical Project Managers </p>
                        <p>We are looking for people with talent, interest and the drive to excel. We invite you to be part
                            of a diverse team of thinkers and doers and this is your chance to take your career to the next
                            level. If you are interested, send us your resume now with mentioned skill at:
                            <p class="color-pink mb-5">careers@shopmyway.co.in</p>
                        </p>
                    </div>

                </div>
                <div class="about-button">
                    <div class="background-pink px-2 py-2 color-white fontOpenSansBold w-10 text-center">
                        Let's CONNECT
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>