.website-section {
    .background-color {
        background-color: $brand-pink;
    }
    .text-color{
        color: $brand-pink;
    }
}
.website-pricing{
    .card{
        border: solid 1px $brand-pink;
    }
}