.website-section {
    .text-color {
        color: $brand-danger;
    }
    .pricing-option {
        @extend .for-red
    }
    .small-button {
        display: none;
    }
}

.website-pricing {
    .card {
        border: solid 1px $brand-danger;
    }
}