<div class="d-flex position-relative bg-img" ng-repeat="banner in banners" style="background-image:url({{banner.image}})">
    <div class="position-absolute w-100 h-100 bg-overlay"></div>
    <div class="row align-items-center position-absolute w-100 h-100 main-section-padding color-white bg-desc">
        <div class="col col-lg-8">
            <div class="align-content website">
                <h2 class="NunitoBold" ng-bind-html="banner.title"></h2>
                <div class="pt-3" ng-click="modalOpen()">
                    <a class="btn banner-button" role="button">{{banner.btntext}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="website-section my-5">
    <solutionpagediv></solutionpagediv>
    <alternatediv ng-repeat="alternate in alternatesection"></alternatediv>
</section>