<div class="d-flex position-relative bg-img" ng-repeat="banner in banners" style="background-image:url({{banner.image}})">
    <div class="position-absolute w-100 h-100 bg-overlay"></div>
    <div class="row align-items-center position-absolute w-100 h-100 main-section-padding color-white bg-desc">
        <div class="col-md-8">
            <h1 class="fontOpenSansBold" ng-bind-html="banner.title"></h1>
            <h6 class="fontOpenSansLight" ng-bind-html="banner.subtitle"></h6>
            <div class="text-center pt-3"><a class="btn banner-button" role="button">{{banner.btntext}}
                            </a></div>
        </div>
        <div class="position-absolute banner-image">
            <img src="../img/website/banner_img.png" class="img-fluid">
        </div>
    </div>
</div>
<section class="website-section">
        <solutionpagediv></solutionpagediv>
        <alternatediv ng-repeat="alternate in alternatesection"></alternatediv>
        <div>
            <div class="text-center">
                <h4 class="color-red fontOpenSansSemiBold mb-4">A Suitable Pricing Plan For Every Need</h4>
            </div>
            <pricingbox class="website-pricing"></pricingbox>
        </div>
</section>