<div class="d-flex position-relative bg-img" ng-repeat="banner in banners" style="background-image:url({{banner.image}})">
    <div class="position-absolute w-100 h-100 bg-overlay"></div>
    <div class="d-flex align-items-center position-absolute w-100 h-100 main-section-padding color-white bg-desc">
        <div class="mr-5">
            <h2 class="fontOpenSansBold">{{banner.title}}</h2>
            <h6 class="fontOpenSansLight">{{banner.subtitle}}</h6>
            <div class="text-center my-4"><a class="btn banner-button" role="button">{{banner.btntext}}
                    </a></div>
        </div>
        <div class="position-absolute banner-image">
            <img src="../img/marketing/banner_mac.png" class="img-fluid">
        </div>
    </div>
</div>
<section class="marketing-section">
    <div class="spacing-y">
        <solutionpagediv></solutionpagediv>
    </div>
    <alternatediv ng-repeat="alternate in alternatesection"></alternatediv>
    <div class="gray-section">
        <div class="container">
            <h4 class="py-5 text-center fontOpenSansSemiBold color-green">A Suitable Pricing Plan For Every Need</h4>
            <div class="row">
                <div class="col align-self-center pr-0">
                    <div class="rounded border-green my-3">
                        <div class="background-green p-3">
                            <div class="text-center">
                                <img class="img-fluid doneLoading" src="img/home/customer.png">
                            </div>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="fontOpenSansBold">Complete Business Support
                            </h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text </p>
                            <a class="btn mt-3 small-button background-green" role="button">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="rounded border-green my-3">
                        <div class="background-green p-3">
                            <div class="text-center">
                                <img class="img-fluid doneLoading" src="img/home/customer.png">
                            </div>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="fontOpenSansBold">Complete Business Support
                            </h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text </p>
                            <a class="btn mt-3 small-button background-green" role="button">Know More</a>
                        </div>
                    </div>
                    <div class="rounded border-green my-3">
                        <div class="background-green p-3">
                            <div class="text-center">
                                <img class="img-fluid doneLoading" src="img/home/customer.png">
                            </div>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="fontOpenSansBold">Complete Business Support
                            </h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text </p>
                            <a class="btn mt-3 small-button background-green" role="button">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center pl-0">
                    <div class="rounded border-green my-3">
                        <div class="background-green p-3">
                            <div class="text-center">
                                <img class="img-fluid doneLoading" src="img/home/customer.png">
                            </div>
                        </div>
                        <div class="text-center p-3">
                            <h5 class="fontOpenSansBold">Complete Business Support
                            </h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text </p>
                            <a class="btn mt-3 small-button background-green" role="button">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>