.banner-image {
    width: 50%;
    right: 6%;
    bottom: -20px;
}

.couriers-section {
    .background-color {
        background-color: $brand-primary;
    }
    .text-color{
        color: $brand-primary;
    }
}