.home-bg {
    background: url('../img/home/home-bg.jpg');
    background-position: center center;
    background-size: cover; // min-height: 100vh;
    height: 70vh;
}

.mt-10 {
    margin-top: 10em
}

.home-title h4 {
    @extend .fontOpenSansBold;
    color: $blue;
    text-transform: uppercase;
    position: relative;
    span {
        color: $pink !important;
        font-size: 1.5rem;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 41%;
        width: 18%;
        border-bottom: 3px solid #00bfe8;
    }
}

.advantage-section {
    background: url('../img/home/bg2.jpg');
    background-position: center center;
    background-size: cover;
}

.service-type {
    img {
        opacity: 0.2;
    }
}

.jigsaw1:after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -0.8em;
    z-index: 3;
    right: 6em;
    background: #00bfe8;
    border-radius: 4em;
}

.jigsaw2:after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -0.8em;
    z-index: 3;
    right: 6em;
    background: #00bfe8;
    border-radius: 4em;
}

.jigsaw3:after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -0.8em;
    z-index: 3;
    right: 6em;
    background: #00bfe8;
    border-radius: 4em;
}

.jigsaw4:after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -0.8em;
    z-index: 3;
    right: 6em;
    background: #00bfe8;
    border-radius: 4em;
}

.jigsaw5:after {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: -0.8em;
    z-index: 3;
    right: 6em;
    background: #00bfe8;
    border-radius: 4em;
}

.home-banner-button {
    background: white;
    color: grey !important;
    border-radius: 25px !important;
    @include padding(0.5rem 2rem !important);
    &:hover {
        background: grey;
        color: white !important;
    }
}

.ecommerce-description {
    width: 80%;
}

.set-up-title {
    p {
        color: #018caa;
    }
}

.planning-subtitle {
    p {
        font-size: 22px;
        color: #16568b;
        @extend .fontNunitoLight;
    }
}

.order-form .form-control {
    background: rgba(253, 253, 253, 0.68);
    border: none;
    border-bottom: 1px solid $pink;
}

.set-up-knowmore {
    font-size: .75rem;
}

.set-up-inner {
    h6 {
        height: 30px;
        align-items: center;
        display: inline-flex;
        font-family: NunitoBold;
    }
}

.qoute p {
    position: relative;
    &:after {
        content: "";
        background-image: url('../img/home/qoutes.png');
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        left: -25px;
        top: -15px;
        z-index: 1;
        width: 30px;
        height: 30px;
    }
}

.advantage-main {
    min-height: 200px;
}