<div class="d-flex  home-bg">
    <div class="row align-items-center w-100 h-100 main-section-padding bg-desc">
        <div class="col-12 col-lg-4">
            <div class="align-content">
                <h4 class="fontOpenSansBold">Grow your Business business with ShopMyWay complete end to end e-commerce Solution</h4>
                <div class="text-center mt-4 mb-5" ng-click="modalOpen()">
                    <a class="btn banner-button" role="button">Start Now</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 mt-5">
            <img src="img/home/lapi.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="container">
    <section>
        <div class="home-title text-center py-5">
            <h4>
                <span>OUR</span> Solution</h4>
        </div>
        <div class="service-type  mx-5">
            <div class="row mx-5">
                <div class="col background-pink text-center py-4 jigsaw1">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
                <div class="col background-blue text-center py-4 jigsaw2">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
                <div class="col background-pink text-center py-4 jigsaw3">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
                <div class="col background-blue text-center py-4 jigsaw4">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
            </div>
            <div class="row mx-5">

                <div class="col background-blue text-center py-4 jigsaw2">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                    <p>sssssssssss</p>
                </div>
                <div class="col background-pink text-center py-4 jigsaw3">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
                <div class="col background-blue text-center py-4 jigsaw4">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
                <div class="col background-pink text-center py-4 jigsaw1">
                    <img src="img/home/smw-01.svg" width="100" class="doneLoading">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="set-up-process">
            <div class="home-title text-center">
                <h4>
                    <span>Complete</span> Ecommerce package</h4>
            </div>
            <div class="text-center color-grey-home py-3">

                <h6 class="fontNunitoSansRegular">The most comprehensive tool for businesses looking to manage their eCommerce website, streamline payments
                    and returns, sell on multiple marketplaces and promote their brand online. Know more at shopmyway.co
                </h6>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="set-up-inner text-left">
                        <h6 class="text-uppercase">Create your website</h6>
                    </div>
                    <p class="color-grey-home">Create beautiful, mobile-optimized websites for your brand with endless customization options.
                    </p>
                </div>
                <div class="col-sm">
                    <div class="set-up-inner text-left">

                        <h6 class="text-uppercase">Manage Multiple Marketplaces
                        </h6>
                    </div>
                    <p class="color-grey-home">Manage your various products in multiple marketplaces integrated by us
                    </p>
                </div>
                <div class="col-sm mb-5">
                    <div class="set-up-inner text-left">

                        <h6 class="text-uppercase">Integrated Logistics Solutions
                        </h6>
                    </div>
                    <p class="color-grey-home">Find easy and convenience logistic service solution with Shopmyway best-integrated vendors </p>
                </div>
            </div>
        </div>
    </section>

</div>
<section>
    <div class="advantage-section ">
        <div class="container">
            <div class="adv-heading text-center NunitoBold py-3">
                <h4>Give your bussiness ShopMyWay Advantage </h4>
            </div>
            <div class="row">
                <div class="col">
                    <p class="py-2">Easy to use features </p>
                    <p class="py-2"> Multiple plans and modular feature offerings </p>
                </div>
                <div class="col">
                    <p class="py-2">Intuitive Dashboard </p>
                    <p class="py-2">Competitive pricing </p>
                </div>
                <div class="col">
                    <p class="py-2">Quick turnaround </p>
                    <p class="py-2">Dedicated 24 hour helpdesk</p>
                </div>
            </div>
            <div class="text-center pt-4 pb-5">
                <button class="large-button">
                    Let Our Ecommerce Expert Call You to Setup Your Free Bussines Conlatation
                </button>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="background-white">
        <div class="container">
            <div class="py-4">
                <div class="text-center home-title">
                    <h4 class="home-title">
                        <span>Our</span> Customer</h4>
                    <p class="home-sub-title">Who's Talking About Us</p>
                </div>
                <div class="row">
                    <div class="col mx-5 px-5">
                        <div class="text-center">
                            <div class="logo py-4">
                                <img class="img-fluid" src="img/home/ponsor1.png">
                            </div>
                            <div class="qoute mb-5">
                                <p class="color-grey-home NunitoLightItalic">Shopmyway determination to simplify Ecommerce for Indian businesses is impressive</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mx-5 px-5">
                        <div class="text-center">
                            <div class="logo py-4">
                                <img class="img-fluid" src="img/home/ponsor2.png">
                            </div>
                            <div class="qoute mb-5">
                                <p class="color-grey-home NunitoLightItalic">Shopmyway determination to simplify Ecommerce for Indian businesses is impressive</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>