<div class="home-bg">
    <div class="container">
        <section>
            <div class="ecommerce-title color-white">
                <h3>Four Powerful Tools.</h3>
                <h2>One Complete Ecommerce Solution.</h2>
            </div>
            <div class="ecommerce-description">
                <p class="text-center color-white">Grow your business online with India's most trusted ecommerce solution. Create website, ship orders, manage
                    marketplaces and market your product from a single platform</p>
                <div class="text-center"> 
                    <a class="btn banner-button" role="button">Started Now</a>
                    <!--<a class="btn large-button" role="button">Started Now</a>

                <a class="btn medium-button" role="button">Know More</a>

                <a class="btn small-button" role="button">Started Now</a>-->
                </div>
            </div>
            <div class="ecommerce-image text-center">
                <img src="img/home/desktop.png" class="img-responsive">
            </div>
        </section>
        <section>
            <div class="set-up-title text-center">
                <h4>Set up your store in minutes and bring your brand to life</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="set-up-process">
                <div class="row">
                    <div class="col">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-responsive">
                            </div>
                            <h5>Create your store</h5>
                        </div>
                        <p>Create beautiful, mobile optimized websites for your brand with endless customization options.
                        </p>
                        <div class="set-up-knowmore">
                            <span>Know More</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-responsive">
                            </div>
                            <h5>Ship your products
                            </h5>
                        </div>
                        <p>Create beautiful, mobile optimized websites for your brand with endless customization options.
                        </p>
                    </div>
                    <div class="col">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-responsive">
                            </div>
                            <h5>Promote your store
                            </h5>
                        </div>
                        <p>Create beautiful, mobile optimized websites for your brand with endless customization options.
                    </div>
                    <div class="col">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-responsive">
                            </div>
                            <h5>Manage Marketplaces
                            </h5>
                        </div>
                        <p>Create beautiful, mobile optimized websites for your brand with endless customization options.</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="panning-title text-center">
                <h4>Planning to sell online? follow the easy steps</h4>
                <p>We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="">
                        <p>Powerful Tools</p>
                        <h4>Leading Businesses Trust ShopMyway</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu. Fames ac turpis
                            egestas maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus
                            urna et pharetra pharetra massa.
                        </p>
                        <div>
                            <a class="btn large-button" role="button">Started Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col">
                            <div class="background-pink">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="background-green">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="background-blue">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="background-yellow">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="service-title text-center">
                <h4>Service Orders Easily With An Integrated Courier Solution</h4>
                <p>We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col">
                            <div class="background-pink">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="background-green">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                            <div class="background-green">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="background-blue">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="">
                        <p>Powerful Tools</p>
                        <h4>Leading Businesses Trust ShopMyway</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu. Fames ac turpis
                            egestas maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus
                            urna et pharetra pharetra massa.
                        </p>
                        <div>
                            <a class="btn large-button" role="button">Started Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="panning-title text-center">
                <h4>Planning to sell online? follow the easy steps</h4>
                <p>We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="">
                        <p>Powerful Tools</p>
                        <h4>Leading Businesses Trust ShopMyway</h4>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu. Fames ac turpis
                            egestas maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus
                            urna et pharetra pharetra massa.
                        </p>
                        <div>
                            <a class="btn large-button" role="button">Started Now</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="background-pink">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="background-green">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                            <div class="background-pink">
                                <p>maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus urna
                                    et pharetra pharetra massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="text-center">
                <h4>Who's Talking About Us</h4>
                <p>We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <div class="logo">
                            <img class="img-responsive" src="img/home/ponsor1.png"></div>
                        <div class="qoute">
                            <p>Shopmyway determination to simplify Ecommerce for Indian businesses is impressive</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <div class="logo">
                            <img class="img-responsive" src="img/home/ponsor2.png"></div>
                        <div class="qoute">
                            <p>Shopmyway determination to simplify Ecommerce for Indian businesses is impressive</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="text-center">
                <h4>Process orders easily to 15000+ pincodes in one click</h4>
                <p>We Guarantee You Growth In Your Online Sales!
                </p>
            </div>
            <div class="order-form">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn large-button" role="button">Started Now</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>