<div class="home-bg">
    <div class="container">
        <section>
            <div class="ecommerce-title px-4 color-white">
                <p>Four Powerful Tools.</p>
                <h2>One Complete Ecommerce Solution.</h2>
            </div>
            <div class="ecommerce-description mx-auto">
                <p class="text-center color-white">Grow your business online with India's most trusted ecommerce solution. Create website, ship orders, manage
                    marketplaces and market your product from a single platform</p>
                <div class="text-center mt-4 mb-5">
                    <a class="btn home-banner-button" role="button">Started Now</a>
                    <!--<a class="btn large-button" role="button">Started Now</a>

                <a class="btn medium-button" role="button">Know More</a>

                <a class="btn small-button" role="button">Started Now</a>-->
                </div>
            </div>
            <div class="ecommerce-image text-center">
                <img src="img/home/desktop.png" class="img-fluid">
            </div>
        </section>
        <section>
            <div class="set-up-title text-center my-5">
                <h4 class="home-title">Set up your store in minutes and bring your brand to life</h4>
                <p class="fontOpenSansRegular">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="set-up-process">
                <div class="row">
                    <div class="col-sm mb-5">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-fluid">
                            </div>
                            <h6 class="mt-3 color-red">Create your store</h6>
                        </div>
                        <p class="color-grey-home">Create beautiful, mobile optimized websites for your brand with endless customization options.
                        </p>
                        <div class="set-up-knowmore text-right color-red">
                            <a>Know More ...</a>
                        </div>
                    </div>
                    <div class="col-sm mb-5">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-fluid">
                            </div>
                            <h6 class="mt-3 color-green">Ship your products
                            </h6>
                        </div>
                        <p class="color-grey-home">Create beautiful, mobile optimized websites for your brand with endless customization options.
                        </p>
                        <div class="set-up-knowmore text-right color-green">
                            <a>Know More ...</a>
                        </div>
                    </div>
                    <div class="col-sm mb-5">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-fluid">
                            </div>
                            <h6 class="mt-3 color-yellow">Promote your store
                            </h6>
                        </div>
                        <p class="color-grey-home">Create beautiful, mobile optimized websites for your brand with endless customization options.</p>
                        <div class="set-up-knowmore text-right color-yellow">
                            <a>Know More ...</a>
                        </div>
                    </div>
                    <div class="col-sm mb-5">
                        <div class="set-up-inner text-center">
                            <div class="set-up-img">
                                <img src="img/home/setup.png" class="img-fluid">
                            </div>
                            <h6 class="mt-3 color-blue">Manage Marketplaces
                            </h6>
                        </div>
                        <p class="color-grey-home">Create beautiful, mobile optimized websites for your brand with endless customization options.</p>
                        <div class="set-up-knowmore text-right color-blue">
                            <a>Know More ...</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="home-bg-2">
    <div class="container">
        <section>
            <div class="panning-title text-center my-5">
                <h4 class="home-title">Planning to sell online? follow the easy steps</h4>
                <p class="home-sub-title">We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="planning-subtitle">
                        <p>Powerful Tools</p>
                        <h4 class="home-title">Leading Businesses Trust ShopMyway</h4>
                    </div>
                    <div>
                        <p class="color-grey-home pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu. Fames ac turpis
                            egestas maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus
                            urna et pharetra pharetra massa.
                        </p>
                        <div>
                            <a class="btn large-button" role="button">Started Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mx-3">
                        <div class="mx-5">
                            <div class="row">
                                <div class="col mb-2 pr-0">
                                    <div class="d-flex  background-red color-white pb-5 p-3 rounded">
                                        <div class=""><img src="../../img/ecommerce/globe.png" width="40"></div>
                                        <div class="ml-2">
                                            <img src="../../img/ecommerce/shopmyway.png" width="80">
                                            <h6 class="fontOpenSansSemiBold">Website</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    <div class="d-flex  background-green color-white pb-5 p-3 rounded">
                                        <div class=""><img src="../../img/ecommerce/speaker.png" width="40"></div>
                                        <div class="ml-2">
                                            <img src="../../img/ecommerce/shopmyway.png" width="80">
                                            <h6 class="fontOpenSansSemiBold">Marketing</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col pr-0">
                                    <div class="d-flex  background-blue color-white pb-5 p-3 rounded">
                                        <div class=""><img src="../../img/ecommerce/van.png" width="40"></div>
                                        <div class="ml-2">
                                            <img src="../../img/ecommerce/shopmyway.png" width="80">
                                            <h6 class="fontOpenSansSemiBold">Couriers</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex  background-yellow color-white pb-5 p-3 rounded">
                                        <div class=""><img src="../../img/ecommerce/home.png" width="40"></div>
                                        <div class=" ml-2">
                                            <img src="../../img/ecommerce/shopmyway.png" width="80">
                                            <h6 class="fontOpenSansSemiBold">Marketplace</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="courier-solution">
            <div class="service-title text-center my-5">
                <h4 class="home-title">Service Orders Easily With An Integrated Courier Solution</h4>
                <p class="home-sub-title">We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col-sm-8 color-white">
                    <div class="row">
                        <div class="col-sm align-self-center pr-0 ">
                            <div class="background-blue p-3 rounded">
                                <div class="text-center">
                                    <div class="glyph fs1">
                                        <div class="clearfix bshadow0 pbs">
                                            <i class="icon-Support"></i>
                                        </div>
                                    </div>
                                    <h5 class="fontOpenSansBold">Complete Business Support
                                    </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text </p>
                                    <a class="btn medium-button background-white color-blue" role="button">Know More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="background-red p-3 mb-4 rounded">
                                <div class="text-center">
                                    <div class="glyph fs1">
                                        <div class="clearfix bshadow0 pbs">
                                            <i class="icon-Mobile-Optimized"></i>
                                        </div>
                                    </div>
                                    <h5 class="fontOpenSansBold">Complete Business Support
                                    </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text </p>
                                    <a class="btn medium-button background-white color-red" role="button">Know More</a>
                                </div>
                            </div>
                            <div class="background-yellow p-3 mt-4 rounded">
                                <div class="text-center">
                                    <div class="">
                                        <div class="glyph fs1">
                                            <div class="clearfix bshadow0 pbs">
                                                <i class="icon-Courier"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="fontOpenSansBold">Complete Business Support
                                    </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text </p>
                                    <a class="btn medium-button background-white color-yellow" role="button">Know More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm align-self-center pl-0">
                            <div class="background-green p-3 rounded">
                                <div class="text-center">
                                    <div class="glyph fs1">
                                        <div class="clearfix bshadow0 pbs">
                                            <i class="icon-Customization"></i>
                                        </div>
                                    </div>
                                    <h5 class="fontOpenSansBold">Complete Business Support
                                    </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text </p>
                                    <a class="btn medium-button background-white color-green" role="button">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 align-self-center">
                    <div class="planning-subtitle">
                        <p>Powerful Tools</p>
                        <h4 class="home-title">Leading Businesses Trust ShopMyway</h4>
                    </div>
                    <div>
                        <p class="color-grey-home pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu. Fames ac turpis
                            egestas maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus
                            urna et pharetra pharetra massa.
                        </p>
                        <div>
                            <a class="btn large-button" role="button">Started Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="courier-solution1">
            <div class="panning-title text-center my-5">
                <h4 class="home-title">Service Orders Easily With An Integrated Courier Solution</h4>
                <p class="home-sub-title">We Guarantee You Growth In Your Online Sales!</p>
            </div>
            <div class="row">
                <div class="col align-self-center">
                    <div class="planning-subtitle">
                        <p>Features</p>
                        <h4 class="home-title">A Suitable Pricing Plan For Every Need</h4>
                    </div>
                    <div>
                        <p class="color-grey-home pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Interdum velit laoreet id donec ultrices tincidunt arcu. Fames ac turpis
                            egestas maecenas pharetra convallis posuere morbi leo. Sit amet mauris commodo quis. Sed tempus
                            urna et pharetra pharetra massa.
                        </p>
                        <div>
                            <a class="btn large-button" role="button">Started Now</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="row">
                        <div class="col align-self-center pr-0">
                            <div class="card border-red">
                                <div class="card-block background-red rounded-top color-white  p-2 text-center">
                                    <h5 class="fontOpenSansBold text-uppercase position-relative border-bottom-style mb-3 ng-binding">Professional</h5>
                                    <h3 class="fontOpenSansBold text-uppercase mt-3 ng-binding">₹ 75,000</h3>
                                    <h5 class="fontOpenSansRegular ng-binding">PERMonth</h5>
                                    <p class="fontOpenSansRegular text-capitalize ng-binding">Minimum Period 12 months</p>
                                    <h5 class="fontOpenSansRegular">OR</h5>
                                    <p class="fontOpenSansBold text-capitalize ng-binding">Rs 8,99,999 for One Time Payment*</p>
                                </div>
                                <div class="card-block color-grey-home for-red my-3 px-4 text-left">
                                    <p class="my-1"><input id="0" type="checkbox"><label for="0" class="ng-binding">Ecommerce Website</label></p>
                                    <p class="my-1"><input id="1" type="checkbox"><label for="1" class="ng-binding">Mobile App Android + iOS</label></p>
                                    <p class="my-1"><input id="2" type="checkbox"><label for="2" class="ng-binding">Design service (Banners)</label></p>
                                    <p class="my-1"><input id="3" type="checkbox"><label for="3" class="ng-binding">Couriers Solution</label></p>
                                    <div class="text-center">
                                        <a class="btn medium-button background-red color-white" role="button">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-3 border-blue">
                                <div class="card-block background-blue rounded-top color-white  p-2 text-center">
                                    <h5 class="fontOpenSansBold text-uppercase position-relative border-bottom-style mb-3 ng-binding">Professional</h5>
                                    <h3 class="fontOpenSansBold text-uppercase mt-3 ng-binding">₹ 75,000</h3>
                                    <h5 class="fontOpenSansRegular ng-binding">PERMonth</h5>
                                    <p class="fontOpenSansRegular text-capitalize ng-binding">Minimum Period 12 months</p>
                                    <h5 class="fontOpenSansRegular">OR</h5>
                                    <p class="fontOpenSansBold text-capitalize ng-binding">Rs 8,99,999 for One Time Payment*</p>
                                </div>
                                <div class="card-block color-grey-home for-blue my-3 px-4 text-left">
                                    <p class="my-1"><input id="4" type="checkbox"><label for="4" class="ng-binding">Ecommerce Website</label></p>
                                    <p class="my-1"><input id="5" type="checkbox"><label for="5" class="ng-binding">Mobile App Android + iOS</label></p>
                                    <p class="my-1"><input id="6" type="checkbox"><label for="6" class="ng-binding">Design service (Banners)</label></p>
                                    <p class="my-1"><input id="7" type="checkbox"><label for="7" class="ng-binding">Couriers Solution</label></p>
                                    <div class="text-center">
                                        <a class="btn medium-button background-blue color-white" role="button">Know More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card mt-3 border-yellow">
                                <div class="card-block background-yellow rounded-top color-white p-2 text-center">
                                    <h5 class="fontOpenSansBold text-uppercase position-relative border-bottom-style mb-3 ng-binding">Professional</h5>
                                    <h3 class="fontOpenSansBold text-uppercase mt-3 ng-binding">₹ 75,000</h3>
                                    <h5 class="fontOpenSansRegular ng-binding">PERMonth</h5>
                                    <p class="fontOpenSansRegular text-capitalize ng-binding">Minimum Period 12 months</p>
                                    <h5 class="fontOpenSansRegular">OR</h5>
                                    <p class="fontOpenSansBold text-capitalize ng-binding">Rs 8,99,999 for One Time Payment*</p>
                                </div>
                                <div class="card-block color-grey-home for-yellow  my-3 px-4 text-left">
                                    <p class="my-1"><input id="8" type="checkbox"><label for="8" class="ng-binding">Ecommerce Website</label></p>
                                    <p class="my-1"><input id="9" type="checkbox"><label for="9" class="ng-binding">Mobile App Android + iOS</label></p>
                                    <p class="my-1"><input id="10" type="checkbox"><label for="10" class="ng-binding">Design service (Banners)</label></p>
                                    <p class="my-1"><input id="11" type="checkbox"><label for="11" class="ng-binding">Couriers Solution</label></p>
                                    <div class="text-center">
                                        <a class="btn medium-button background-yellow color-white" role="button">Know More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section>
        <div class="background-white">
            <div class="container">
                <div class="py-4">
                    <div class="text-center">
                        <h4 class="home-title">Who's Talking About Us</h4>
                        <p class="home-sub-title">We Guarantee You Growth In Your Online Sales!</p>
                    </div>
                    <div class="row">
                        <div class="col mx-5 px-5">
                            <div class="text-center">
                                <div class="logo py-4">
                                    <img class="img-fluid" src="img/home/ponsor1.png"></div>
                                <div class="qoute mb-5">
                                    <p class="color-grey-home NunitoLightItalic">Shopmyway determination to simplify Ecommerce for Indian businesses is impressive</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mx-5 px-5">
                            <div class="text-center">
                                <div class="logo py-4">
                                    <img class="img-fluid" src="img/home/ponsor2.png"></div>
                                <div class="qoute mb-5">
                                    <p class="color-grey-home NunitoLightItalic">Shopmyway determination to simplify Ecommerce for Indian businesses is impressive</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <section>
            <div class="home-form py-3">
                <div class="text-center">
                    <h4 class="home-title">Process orders easily to 15000+ pincodes in one click</h4>
                    <p class="home-sub-title">We Guarantee You Growth In Your Online Sales!
                    </p>
                </div>
                <div class="order-form">
                    <form>
                        <div class="row my-4">
                            <div class="col px-5 mx-5">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="col px-5 mx-5">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="text-center my-2 pt-3 pb-4">
                            <a class="btn large-button" role="button">Generate Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>