.ecommerce-subsection {
    h3 {
        font-family: NunitoSansRegular;
    }
    .red-coloured-background {
        position: relative;
        &:before {
            // content: "";
            // width: 0;
            // height: 0;
            // border-top: 15px solid transparent;
            // border-bottom: 15px solid transparent;
            // border-right: 15px solid red;
            // position: absolute;
            // top: 0;
            // left: -16px;
        }
        border: solid 1px transparent;
        &:hover {
            border: solid 1px $brand-danger;
        }
    }
    .green-coloured-background {
        border: solid 1px transparent;
        &:hover {
            @extend .border-green;
        }
    }
    .blue-coloured-background {
        border: solid 1px transparent;
        &:hover {
            @extend .border-blue;
        }
    }
    .yellow-coloured-background {
        border: solid 1px transparent;
        &:hover {
            @extend .border-yellow;
        }
    }
}