.ecommerce-subsection {
    h3 {
        font-family: NunitoSansRegular;
    }
    .red-background-div {
        .maindiv>.style-hover-red.active {
            @extend .border-red;
            &:before {
                display: block
            }
        }
        .maindiv>.style-hover-red.active>a,
        .maindiv>li.active>a:hover,
        .maindiv>li.active>a:focus {
            @extend .background-red;
            @extend .color-white;
        }
        .style-hover-red {
            position: relative;
            border: solid 1px $gray;
            &:before {
                content: "";
                width: 0;
                height: 0;
                @include position(absolute, 0 null null -16px);
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 15px solid $brand-danger;
                display: none;
            }
            &:hover {
                @extend .border-red;
            }
        }
    }
    .green-background-div {
        .maindiv>.style-hover-green.active {
            @extend .border-green;
            &:before {
                display: block
            }
        }
        .maindiv>.style-hover-green.active>a,
        .maindiv>li.active>a:hover,
        .maindiv>li.active>a:focus {
            @extend .background-green;
            @extend .color-white;
        }
        .style-hover-green {
            position: relative;
            border: solid 1px $gray;
            &:before {
                content: "";
                width: 0;
                height: 0;
                @include position(absolute, 0 -16px null null);
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid $brand-success;
                display: none;
            }
            &:hover {
                @extend .border-green;
            }
        }
    }
    .blue-background-div {
        .maindiv>.style-hover-blue.active {
            @extend .border-blue;
            &:before {
                display: block
            }
        }
        .maindiv>.style-hover-blue.active>a,
        .maindiv>li.active>a:hover,
        .maindiv>li.active>a:focus {
            @extend .background-blue;
            @extend .color-white;
            padding: 50px;
        }
        .style-hover-blue {
            position: relative;
            border: solid 1px $gray;
            &:before {
                content: "";
                width: 0;
                height: 0;
                @include position(absolute, 0 null null -16px);
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: 15px solid $brand-primary;
                display: none;
            }
            &:hover {
                @extend .border-blue;
            }
        }
    }
    .yellow-background-div {
        .maindiv>.style-hover-yellow.active {
            @extend .border-yellow;
            &:before {
                display: block
            }
        }
        .maindiv>.style-hover-yellow.active>a,
        .maindiv>li.active>a:hover,
        .maindiv>li.active>a:focus {
            @extend .background-yellow;
            @extend .color-white;
        }
        .style-hover-yellow {
            position: relative;
            border: solid 1px $gray;
            &:before {
                content: "";
                width: 0;
                height: 0;
                @include position(absolute, 0 -16px null null);
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid $brand-yellow;
                display: none;
            }
            &:hover {
                @extend .border-yellow;
            }
        }
    }
}