<div class="d-flex" style="background-image:url(../../img/banner.jpg); height:50vh;background-repeat:no-repeat;">
        <div class="media align-self-center">
                <div class="media-body">
                        <h5>Top-aligned media</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                purus odio, vestibulum in</p>
                </div>
                <div>
                        <h5>Top-aligned media</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                                purus odio, vestibulum in vulputate</p>
                </div>
        </div>
</div>
<section class="container my-5">
        <div class="ecommerce-subsection">
                <div class="text-center section-bottom-margin">
                        <h3 class="color-red mb-4">
                                Shopmyway Website
                        </h3>
                        <div class="d-flex">
                                <div><img src="../../img/ecommerce.png" class="img-fluid"></div>
                                <div class="text-left ml-3">
                                        <div class="color-white background-red p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Create A Beautiful Ecommerce Website</h5>
                                                <p>
                                                        Choose from 200+ best looking themes &amp; customize it to match your brand image
                                                </p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Accept Online Payments Easily</h5>
                                                <p>
                                                        Let your customers pay via Debit card, Credit card, UPI &amp; Wallets for as less as 2% fee

                                                </p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Omni-Channnel Ecommerce</h5>
                                                <p>
                                                        Launch your Android, iOS App &amp; Facebook Store &amp; manage it all from a single dashboard
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="text-center section-bottom-margin">
                        <h3 class="color-green mb-3">
                                Shopmyway Marketing
                        </h3>
                        <div class="d-flex">
                                <div class="d-block text-left mr-3">
                                        <div class="color-white background-green p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Advertise On Google &amp; Facebook</h5>
                                                <p>An intelligent software automatically selects your best selling products
                                                        &amp; pushes ads
                                                </p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Automated Email &amp; SMS Marketing</h5>
                                                <p>Upsell new products or run offers via personalized email, sms &amp; pop-up
                                                        campaigns.
                                                </p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Get Up To 4X Return On Investment</h5>
                                                <p>Our team helps you track performance &amp; optimize campaigns so you get
                                                        the best ROI
                                                </p>
                                        </div>
                                </div>
                                <div><img src="../../img/ecommerce.png" class="img-fluid"></div>
                        </div>
                </div>
                <div class="text-center section-bottom-margin">
                        <h3 class="color-yellow mb-4">
                                Shopmyway Couriers
                        </h3>
                        <div class="d-flex">
                                <div><img src="../../img/ecommerce.png" class="img-fluid"></div>
                                <div class="text-left ml-3">
                                        <div class="color-white background-yellow p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Multiple Courier Partners</h5>
                                                <p>Ship to 15000+ pincodes via Fedex, Aramex, Delhivery, Dotzot &amp; Bluedart.
                                                        Accept Cash on Delivery &amp; Card on Delivery.</p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Best In Industry Rates</h5>
                                                <p>Send shipments economically with rates starting from INR 31 / 500 gms without
                                                        any minimum commitment</p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Easy To Schedule &amp; Manage</h5>
                                                <p>Compare shipping rates, schedule and track couriers and COD remittance with
                                                        ease.
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="text-center section-bottom-margin">
                        <h3 class="color-blue mb-3">
                                Shopmyway Marketplace
                        </h3>
                        <div class="d-flex">
                                <div class="d-block text-left mr-3">
                                        <div class="color-white background-blue p-3">
                                                <h5 class="mb-3 fontOpensSansBold">List Your Products Everywhere</h5>
                                                <p>We help you register and upload products on Amazon, Flipkart, Snapdeal, PayTM,
                                                        etc
                                                </p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Manage Orders &amp; Inventory Easily</h5>
                                                <p>Sync inventory across multiple marketplaces &amp; manage orders from a single
                                                        dashboard
                                                </p>
                                        </div>
                                        <div class="color-default background-gray p-3">
                                                <h5 class="mb-3 fontOpensSansBold">Reconcile &amp; Manage Taxations</h5>
                                                <p>Audit payments, invoices and pending payouts. Check penalties and identify
                                                        frauds
                                                </p>
                                        </div>
                                </div>
                                <div><img src="../../img/ecommerce.png" class="img-fluid"></div>
                        </div>
                </div>
                <div class="py-5 text-center">
                        <h4 class="color-blue mb-5">
                                A Suitable Pricing Plan For Every Need
                        </h4>
                        <pricingbox></pricingbox>
                </div>
        </div>
</section>