<div class="position-relative bg-img" ng-repeat="banner in banners" style="background-image:url({{banner.image}})">
        <div class="position-absolute w-100 h-100 bg-overlay"></div>
        <div class="">
                <div class="position-absolute w-100 h-100 bg-desc main-section-padding">
                        <div class="row no-gutters align-items-center h-100 color-white bg-desc">
                                <div class="col-12 col-lg-7 px-4 align-content">
                                        <h1 class="fontOpenSansBold" ng-bind-html="banner.title"></h1>
                                        <h6 class="fontOpenSansLight" ng-bind-html="banner.subtitle"></h6>
                                        <div class="text-center my-5" ng-click="modalOpen()">
                                                <a class="btn banner-button" role="button">{{banner.btntext}}</a>
                                        </div>
                                </div>
                                <div class="col-12 col-lg-5 px-5">
                                        <div class="row no-gutters">
                                                <div class="col-12 col-lg-6">
                                                        <div class="d-flex pb-4 background-red color-white m-1 p-2 rounded">
                                                                <div class="glyph fs1">
                                                                        <div class="clearfix bshadow0 pbs">
                                                                                <i class="icon-web" style="font-size:40px;">
                                                                                </i>
                                                                        </div>
                                                                </div>
                                                                <div class="ml-2">
                                                                        <img src="img/ecommerce/shopmyway.png" width="80">
                                                                        <h6 class="fontOpenSansSemiBold">Website</h6>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                        <div class="d-flex pb-4 background-green color-white m-1 p-2 rounded">
                                                                <div class="glyph fs1">
                                                                        <div class="clearfix bshadow0 pbs">
                                                                                <i class="icon-marketing" style="font-size:40px;">
                                                                                </i>
                                                                        </div>
                                                                </div>
                                                                <div class="ml-2">
                                                                        <img src="img/ecommerce/shopmyway.png" width="80">
                                                                        <h6 class="fontOpenSansSemiBold">Marketing</h6>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="row no-gutters">
                                                <div class="col-12 col-lg-6">
                                                        <div class="d-flex pb-4 background-blue color-white m-1 p-2 rounded">
                                                                <div class="glyph fs1">
                                                                        <div class="clearfix bshadow0 pbs">
                                                                                <i class="icon-Courier1" style="font-size:40px;">
                                                                                </i>
                                                                        </div>
                                                                </div>
                                                                <div class=" ml-2">
                                                                        <img src="img/ecommerce/shopmyway.png" width="80">
                                                                        <h6 class="fontOpenSansSemiBold">Couriers</h6>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                        <div class="d-flex pb-4 background-yellow color-white m-1 p-2 rounded">
                                                                <div class="glyph fs1">
                                                                        <div class="clearfix bshadow0 pbs">
                                                                                <i class="icon-Marketplace" style="font-size:40px;">
                                                                                </i>
                                                                        </div>
                                                                </div>
                                                                <div class=" ml-2">
                                                                        <img src="img/ecommerce/shopmyway.png" width="80">
                                                                        <h6 class="fontOpenSansSemiBold">Marketplace</h6>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<section class="container my-5">
        <div class="ecommerce-subsection">
                <div class="text-center my-5 section-bottom-margin red-background-div">
                        <h3 class="color-red my-4">
                                Shopmyway Website
                        </h3>

                        <div class="row no-gutters">
                                <div class="col-12 col-lg-7">
                                        <div>
                                                <div ng-show="tab10">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab11">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab12">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12 col-lg-5">
                                        <ul class="maindiv text-left pl-3 list-unstyled">
                                                <li id="tab10" ng-click="tabset3('tab10')" ng-class="{'active':tab10==true}" class="background-gray style-hover-red w-100 active">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Create A Beautiful Ecommerce Website</h6>
                                                                <p>Choose from 200+ best looking themes &amp; customize it to
                                                                        match your brand image</p>
                                                        </a>
                                                </li>
                                                <li id="tab11" ng-click="tabset3('tab11')" ng-class="{'active':tab11==true}" class="background-gray style-hover-red w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Accept Online Payments Easily</h6>
                                                                <p>
                                                                        Let your customers pay via Debit card, Credit card, UPI &amp; Wallets for as less as 2% fee

                                                                </p>
                                                        </a>
                                                </li>
                                                <li id="tab12" ng-click="tabset3('tab12')" ng-class="{'active':tab12==true}" class="background-gray style-hover-red w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Omni-Channnel Ecommerce</h6>
                                                                <p>
                                                                        Launch your Android, iOS App &amp; Facebook Store &amp; manage it all from a single dashboard
                                                                </p>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="text-center my-5 section-bottom-margin green-background-div">
                        <h3 class="color-green my-4">
                                Shopmyway Marketing
                        </h3>
                        <div class="row no-gutters">
                                <div class="col-12 col-lg-5">
                                        <ul class="maindiv text-left pr-3 list-unstyled">
                                                <li id="tab7" ng-click="tabset2('tab7')" ng-class="{'active':tab7==true}" class="background-gray style-hover-green w-100 active">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Advertise On Google &amp; Facebook</h6>
                                                                <p>An intelligent software automatically selects your best selling
                                                                        products &amp; pushes ads
                                                                </p>
                                                        </a>
                                                </li>
                                                <li id="tab8" ng-click="tabset2('tab8')" ng-class="{'active':tab8==true}" class="background-gray style-hover-green w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Automated Email &amp; SMS Marketing</h6>
                                                                <p>Upsell new products or run offers via personalized email,
                                                                        sms &amp; pop-up campaigns.
                                                                </p>
                                                        </a>
                                                </li>
                                                <li id="tab9" ng-click="tabset2('tab9')" ng-class="{'active':tab9==true}" class="background-gray style-hover-green w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Get Up To 4X Return On Investment</h6>
                                                                <p>Our team helps you track performance &amp; optimize campaigns
                                                                        so you get the best ROI
                                                                </p>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                                <div class="col-12 col-lg-7">
                                        <div class="tab-content">
                                                <div ng-show="tab7">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab8">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab9">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="text-center my-5 section-bottom-margin blue-background-div">
                        <h3 class="color-blue my-4">
                                Shopmyway Couriers
                        </h3>

                        <div class="row no-gutters">
                                <div class="col-12 col-lg-7">
                                        <div>
                                                <div ng-show="tab4">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab5">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab6">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                        </div>
                                </div>
                                <div class="col-12 col-lg-5">
                                        <ul class="maindiv text-left pl-3 list-unstyled">
                                                <li id="tab4" ng-click="tabset1('tab4')" ng-class="{'active':tab4==true}" class="background-gray style-hover-blue w-100 active">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Multiple Courier Partners</h6>
                                                                <p>Ship to 15000+ pincodes via Fedex, Aramex, Delhivery, Dotzot
                                                                        &amp; Bluedart. Accept Cash on Delivery &amp; Card
                                                                        on Delivery.</p>
                                                        </a>
                                                </li>
                                                <li id="tab5" ng-click="tabset1('tab5')" ng-class="{'active':tab5==true}" class="background-gray style-hover-blue w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Best In Industry Rates</h6>
                                                                <p>Send shipments economically with rates starting from INR
                                                                        31 / 500 gms without any minimum commitment</p>
                                                        </a>
                                                </li>
                                                <li id="tab6" ng-click="tabset1('tab6')" ng-class="{'active':tab6==true}" class="background-gray style-hover-blue w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Easy To Schedule &amp; Manage</h6>
                                                                <p>Compare shipping rates, schedule and track couriers and COD
                                                                        remittance with ease.
                                                                </p>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>
                <div class="text-center my-5 section-bottom-margin yellow-background-div">
                        <h3 class="color-yellow my-4">
                                Shopmyway Marketplace
                        </h3>
                        <div class="row no-gutters">
                                <div class="col-12 col-lg-5">
                                        <ul class="maindiv text-left pr-3 list-unstyled">
                                                <li id="tab1" ng-class="{'active':tab1==true}" class="background-gray style-hover-yellow w-100">
                                                        <a ng-click="tabset('tab1')" class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">List Your Products Everywhere</h6>
                                                                <p>We help you register and upload products on Amazon, Flipkart,
                                                                        Snapdeal, PayTM, etc
                                                                </p>
                                                        </a>
                                                </li>
                                                <li id="tab2" ng-click="tabset('tab2')" class="background-gray style-hover-yellow w-100" ng-class="{'active':tab2==true}">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Manage Orders &amp; Inventory Easily</h6>
                                                                <p>Sync inventory across multiple marketplaces &amp; manage
                                                                        orders from a single dashboard
                                                                </p>
                                                        </a>
                                                </li>
                                                <li id="tab3" ng-click="tabset('tab3')" ng-class="{'active':tab3==true}" class="background-gray style-hover-yellow w-100">
                                                        <a class="d-block p-3">
                                                                <h6 class="mb-3 fontOpenSansBold">Reconcile &amp; Manage Taxations</h6>
                                                                <p>Audit payments, invoices and pending payouts. Check penalties
                                                                        and identify frauds
                                                                </p>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                                <div class="col-12 col-lg-7">
                                        <div>
                                                <div ng-show="tab1">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab2">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                                <div ng-show="tab3">
                                                        <img src="img/ecommerce/ecommerce.png" class="img-fluid">
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="py-4 text-center">
                        <h4 class="mb-4 color-blue fontOpenSansSemiBold">
                                A Suitable Pricing Plan For Every Need
                        </h4>
                        <!-- <pricingbox class="ecommerce-pricing"></pricingbox> -->
                </div>
        </div>
</section>