.marketplace-section {
    .background-color {
        background-color: $brand-yellow;
    }
    .text-color{
        color: $brand-yellow;
    }
}
.marketplace-pricing{
    .card{
        border: solid 1px $brand-yellow;
    }
}