<section class="products">
    <div class="category-div">
        <h6>Category</h6>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle collection-drpdwn" type="button" data-toggle="dropdown">
                Our Collection (0)
                <i class="fa fa-sort cllction-arrow" aria-hidden="true"></i>
            </button>

            <ul class="dropdown-menu">
                <li class="dropdown-header">Dropdown header 1</li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
        </div>

        <!-- directive views/content/directive/upload.html -->
        <upload></upload>
        <div class="arrange-elements">
            <!-- directive views/content/directive/download.html -->
            <download></download>

            <button type="button" class="btn btn-primary pull-right rearrange">
                     <i class="fa fa-download" aria-hidden="true"></i>
                    Rearrange Products
                </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="table-container">
            <!-- directive views/content/directive/detailtable.html -->
            <detailtable class="detailtable" ng-model="detailtable">
            </detailtable>
        </div>
    </div>
<talktous></talktous>
</section>